services:
  ftpclient:
    build: .
    container_name: ftpclient
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - APIKEY=${APIKEY}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - GITEA_TOKEN=${GITEA_TOKEN}
      - GITEA_BASE_URL=${GITEA_BASE_URL}
      - FTP_HOST=${FTP_HOST}
      - FTP_USER=${FTP_USER}
      - FTP_PASSWORD=${FTP_PASSWORD}
    volumes:
      - .:/app
    networks:
      - devopsio

networks:
  devopsio:
    name: devopsio
    external: true